// HEADER
header#header
  // NAV
  #nav
    // Top Nav
    #nav-top
      .container
        // social
        ul.nav-social
          li
            a(href='#')
              i.fa.fa-facebook
          li
            a(href='#')
              i.fa.fa-twitter
          li
            a(href='#')
              i.fa.fa-google-plus
          li
            a(href='#')
              i.fa.fa-instagram
        // /social
        // logo
        .nav-logo
          a.logo(href='/')
            img(src='img/logo.png' alt='')
        // /logo
        // search & aside toggle
        .nav-btns
          button.aside-btn
            i.fa.fa-bars
          button.search-btn
            i.fa.fa-search
          #nav-search
            form
              input.input(name='search' placeholder='Enter your search...')
            button.nav-close.search-close
              span
        // /search & aside toggle
    // /Top Nav
    // Main Nav
    #nav-bottom
      .container
        // nav
        ul.nav-menu
          li.has-dropdown
            a(href='/') Trang chủ
            .dropdown
              .dropdown-body
                ul.dropdown-list
                  li
                    a(href='category.html') Category page
                  li
                    a(href='blog-post.html') Post page
                  li
                    a(href='author.html') Author page
                  li
                    a(href='about.html') About Us
                  li
                    a(href='contact.html') Contacts
                  li
                    a(href='blank.html') Regular
          li.has-dropdown.megamenu
            a(href='#') Danh mục
            .dropdown.tab-dropdown
              .row
                .col-md-2
                  ul.tab-nav
                    -let i = 1;
                    -while (i <= categories.length)
                      li(class= (i === 1 ? 'active' : ''))
                        a(data-toggle='tab' href=`#tab${i}`) #{categories[i++ - 1].category_name}
                .col-md-10
                  .dropdown-body.tab-content
                    // tab1
                    -i = 1;
                    while (i <= categories.length)
                      div(id=`tab${i}` class="tab-pane fade in" + (i === 1 ? ' active' : ''))
                        .row
                          each news in categories[i - 1].newspapers
                            .col-md-4
                              .post.post-sm
                                a.post-img(href=`/news/${news.slug}`)
                                  img(src=`${news.newspaper_imgae}` alt='post-img')
                                .post-body
                                  .post-category
                                    a(href=`/category/${categories[i - 1].id}`) #{categories[i - 1].category_name}
                                  h3.post-title.title-sm
                                    a(href=`/news/${news.slug}`) #{news.newspaper_title}
                                  ul.post-meta
                                    li
                                      a(href='#') #{authors.find(author => author.id === news.author_id).author_name}
                                    li #{news.newspaper_date.toDateString()}
                      -i++;
          // Categories                            
          each category in categories
            li
              a(href='/category/' + category.id)= category.category_name
        // /nav
    // /Main Nav
    // Aside Nav
    #nav-aside
      ul.nav-aside-menu
        li
          a(href='/') Home
        li.has-dropdown
          a Categories
          ul.dropdown
            each category in categories
              li
                a(href='/category/' + category.id)= category.category_name
        li
          a(href='about.html') About Us
        li
          a(href='contact.html') Contacts
        li
          a(href='#') Advertise
      button.nav-close.nav-aside-close
        span
    // /Aside Nav
  // /NAV
